@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-striped" id="itemContainer">
        <tr>
            <td>+/-</td>
            <td>Id</td>
            <td>Name</td>
            <td>Cost</td>
        </tr>
    </table>
</div>
