@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table table-striped" style="table-layout: fixed;">
        <thead>
            <tr>
                <th width="15%"><button class="btn btn-sm btn-success" onclick="addRow()"><i class="fa fa-plus"></i></button></th>
                <th wdith="10%">Id</th>
                <th width="55%">Name</th>
                <th width="25%">Cost</th>
            </tr>
        </thead>
        <tbody id="itemContainer">
        </tbody>
    </table>
    <div>
        <input id="itemName" placeholder="Item Name" />
        <button class="btn btn-primary" onclick="loadMaxVals()"><i class="fa fa-dollar"></i> Max Cost</button>
    </div>
    <div >
        <table class="table table-striped" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Max Cost</th>
                </tr>
            </thead>
            <tbody id="MaxValContainer">
            </tbody>
        </table>
    </div>
</div>
